@using ffn_site.Models;
@{
    ViewBag.Title = "Gestion des catégories";
}

@section scripts {
    <script>
        $( function() {
            $(".accordion").accordion({
                active: false,
                collapsible: true,
                heightStyle: "content"
            });
        } );
    </script>
}

<div class="container">
    <div class="row">
        <h2>Types catégories</h2>
        <div class="accordion col-lg-10">
            @Html.Partial("Categories/_CategoriesCompetition")

            @Html.Partial("Categories/_CategoriesTour")

            @Html.Partial("Categories/_CategoriesEpreuve")

            @Html.Partial("Categories/_CategoriesBallet")

            @Html.Partial("Categories/_CategoriesEvaluation")
        </div>
    </div>
</div>
