@using ffn_site.Models;

<h3>Catégories d'évaluation</h3>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Libellé</th>
                <th>Action</th>
            </tr>
        </thead>
        @using (Html.BeginForm("AddCatEvaluation", "Admin", FormMethod.Post, new { role = "form" }))
        {
            <tr>
                <td>X</td>
                <td>
                    @Html.TextBox("lbl", "", new { required = true, @class = "form-control", placeholder = "Libellé" })
                </td>
                <td><input type="submit" value="Ajouter" class="btn btn-success"></td>
            </tr>
        }
        @foreach (CategorieEvaluation catEVal in ViewBag.catsEval)
        {
            using (Html.BeginForm("UpdateCatEvaluation", "Admin", FormMethod.Post, new { role = "form" }))
            {
                <tr>
                    <td>
                        @Html.Hidden("id", catEVal.id, new { required = true })
                        @catEVal.id
                    </td>
                    <td>
                        @Html.TextBox("lbl", catEVal.lbl, new { required = true, @class = "form-control" })
                    </td>
                    <td>
                        <input type="submit" value="Modifier" class="btn btn-warning">
                        @Html.ActionLink("Supprimer", "DeleteCatEvaluation", "Admin", new { id = catEVal.id }, new { @class = "btn btn-danger", role = "button" })
                    </td>
                </tr>
            }
        }
    </table>
</div>
