<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FFN Compétitions</title>
    <link rel="shortcut icon" href="@Url.Content("~/Resources/img/logo_ffn.ico")" type="image/x-icon" />
    <link rel="icon" href="@Url.Content("~/Resources/img/logo_ffn.ico")" type="image/x-icon" />
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @foreach (var item in ViewContext.ViewData.ModelState)
    {
        if (item.Value.Errors.Any())
        {
            <div class="erreur alert alert-danger" role="alert">
                <p><b>@item.Key</b></p>
                <p>@((item.Value == null || item.Value.Value == null) ? "" : item.Value.Value.RawValue)</p>
                <p>@(string.Join("; ", item.Value.Errors.Select(x => x.ErrorMessage)))</p>
            </div>
        }
    }
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FFN", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        if (ViewBag.role == "admin")
                        {
                            <li>@Html.ActionLink("Administration", "Index", "Admin")</li>
                        }
                        if (ViewBag.role == "juge")
                        {
                            <li>@Html.ActionLink("Espace juge", "Index", "Juge")</li>
                        }
                        <li>@Html.ActionLink("Déconnexion", "Deconnexion", "Profil")</li>
                        <span class="navbar-text">Bonjour @ViewBag.login!</span>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Connexion", "Connexion", "Profil")</li>
                        <li>@Html.ActionLink("Inscription", "Inscription", "Profil")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Fédération française de natation synchronisée</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
