@using ffn_site.Models;
@using ffn_site.Models.Dal;

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("FFN Compétitions", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    Profil currentUser = new ProfilDal().getProfil(HttpContext.Current.User.Identity.Name);
                    if ( currentUser.role != null ) {
                        if ( currentUser.role.Equals(ProfilDal.ADMIN) )
                        {
                            <li>@Html.ActionLink("Administration", "Index", "Admin")</li>
                        }
                        else
                        {
                            if ( currentUser.role.Equals(ProfilDal.JUGE) )
                            {
                                <li>@Html.ActionLink("Notation", "Notation", "Juge")</li>
                            }
                            else if ( currentUser.role.Equals(ProfilDal.ARBITRE) )
                            {
                                <li>@Html.ActionLink("Compilation des notes", "Compilation", "Juge")</li>
                            }
                        }
                    }
                    <li>@Html.ActionLink("Profile", "ProfilEdit", "Profil", new { login = currentUser.login }, null)</li>
                    <li>@Html.ActionLink("Déconnexion", "Deconnexion", "Profil")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Connexion", "Connexion", "Profil")</li>
                    <li>@Html.ActionLink("Inscription", "Inscription", "Profil")</li>
                }
            </ul>
        </div>
    </div>
</div>

