@{
    ViewBag.Title = "Inscription";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
            @using (Html.BeginForm("Inscription", "Profil", FormMethod.Post, new { role = "form" }))
            {
                <h2>Inscription</h2>
                <hr class="colorgraph">
                <div class="form-group">
                    @Html.TextBox("login", "", new {
                   required = true,
                   @class = "form-control input-lg",
                   placeholder = "Identifiant",
                   tabIndex = "1" })
                </div>
                <div class="form-group">
                    @Html.TextBox("mail", "", new {
                   type = "email",
                   required = true,
                   @class = "form-control input-lg",
                   placeholder = "Adresse mail",
                   tabIndex = "2" })
                </div>
                <div class="form-group">
                    @Html.TextBox("mailValid", "", new {
                   type = "email",
                   required = true,
                   @class = "form-control input-lg",
                   placeholder = "Adresse mail (confirmation)",
                   tabIndex = "3" })
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-6">
                        <div class="form-group">
                            @Html.Password("password", "", new {
                           required = true,
                           @class = "form-control input-lg",
                           placeholder = "Mot de passe",
                           tabIndex = "4" })
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-10 col-md-6">
                        <div class="form-group">
                            @Html.Password("passwordValid", "", new {
                           required = true,
                           @class = "form-control input-lg",
                           placeholder = "Mot de passe (confirmation)",
                           tabIndex = "5" })
                        </div>
                    </div>
                </div>
                <hr class="colorgraph">
                <div class="row">
                    <input type="submit" value="S'inscrire" class="btn btn-primary btn-block btn-lg" tabindex="6">
                </div>
            }
        </div>
    </div>
</div>